.icon {
    width: 28px;
    height: 28px;
    border-radius: 6px;
    padding: 6px;
    color: var(--vkui--color_icon_accent);
    
}
.selected {
    background-color: var(--vkui--color_transparent--active);
}