@import './space_gray.css';
@import './bright_light.css';

body, html {
    overflow-x: hidden;
}
#other_profile {
    --background_page: var(--background_page_my)
}
#test {
    --background_page: #f6f9ff;
}
#questions  {
    --background_page: var(--background_page_my)
} 

#tiket  {
    --background_page: var(--background_page_my)
}

#new_tiket{
    --background_page: var(--background_page_my)
}

#notif{
    --background_page: var(--background_page_my);
}

#top {
    --background_page: var(--background_page_my);
}

#special {
    --background_page: var(--background_page_my);
}

#profile_help {
    --background_page: var(--background_page_my);
}

.title_tiket {
    margin-top: 10px;
    width: 100%;
    text-align: center;
    font-size: 13px;
    color: gray
}

.message_report {
    display: inline-block;
    width: 100%;
    border-radius: 15px;
    padding: 0px 12px 0px 10px;
    margin-left: 55px;
    margin-top: 10px;
    background: var(--text_message_send);
    word-break: break-word;
    white-space: pre-wrap;
    height: auto;
    
}
.avatar_message {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 8px;
    position: absolute;
    float: left;
    bottom: 0px;
}

.all_message {
    position: relative;
    display: flex;
    width: 90%;
}

.message_report_moderator {
    right: -20%;
    position: relative;
    display: inline-block;
    border-radius: 15px;
    padding: 0px 12px 0px 10px;
    margin-left: 8px;
    margin-top: 10px;
    width: 70%;
    background: var(--text_message_to);
    word-break: break-word;
    white-space: pre-wrap;
    height: auto;
}

.moderator_name_message {
    color: #4a86cb;
    font-size: 14px;
    margin-top: 7px;
    margin-bottom: -10px;
}

.time_message {
    float: right;
    font-size: 11.5px;
    padding-top: 3px;
    margin-top: -17px;
    margin-bottom: 5px;
    color: #879bb3;
}

.hr {
    margin-left: 12px;
    width: 95%;
    height: 0.3px;
    background: var(--hr)
}

.name_profile {
    margin-top: 5px;
}

.profile_description {
    font-weight: 400;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
}

.information_profile {
    margin-top: -15px;
    margin-left: 0px;
    width: 100%;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
    position: relative;
    display: inline-block;
}

.help_profile {
    position: relative;
    text-align: right;
    margin-top: -21px;
    color: var(--text_profile);
}

.title_profile {
    margin-top: 18px;
    font-size: 18px;
    font-weight: 400;
    color: var(--title_profile);
    display: flex;
    position: absolute;
}

.top_moderator_name {
    display: flex;
    color: var(--top_moderator_name);
    position: absolute;
}

.top_moderator_name_icon {
    color: var(--top_moderator_icon);
    position: relative;
    float: right;
    margin-left: 1px;
    margin-top: 2.72px;
}

.top_moderator_name_icon_ver {
    color: var(--profile_icon);
    position: relative;
    float: right;
    margin-left: 1px;
    margin-top: 2.72px;
}

.profile_moderator_name_icon {
    color: var(--top_moderator_icon);
    position: relative;
    float: right;
    margin-left: 2px;
    margin-top: 5.5px;
}

.profile_moderator_name_icon_ver {
    color: var(--profile_icon);
    position: relative;
    float: right;
    margin-left: 2px;
    margin-top: 5.5px;
}

.profile_icon {
    display: inline-block;
    color: var(--top_moderator_icon);
    position: relative;
    margin-left: 2px;
    margin-top: 5.5px;
}

.profile_icon_ver {
    color: var(--profile_icon);
    display: inline-block;
    position: relative;
    margin-left: 2px;
    margin-top: 5.5px;
}

.top_moderator_desc {
    margin-top: 25px;
}

.minititle {
    font-size: 15px;
    margin-left: 0px;
}

.other {
  bottom: 0px;
  left: 0px;
  display: inline-block;
  position: fixed;
  width: 100%;
  height: 69px;
  background: var(--background_page_my);
}

.down_input_message {
  position: fixed;
  display: inline-block;
  bottom: -2px;
  margin-left: 14px;
  width: 85%;
  padding: 10px 0px;
  box-sizing: border-box;
}

.textarea {
    max-width: 95%;
    max-height: 40px;
    margin-left: -1px;
    padding-top: 8px;
    padding-left: 10px;
    font-size: 15px;
    height: 40px;
    width: 93%;
    border-radius: 10px;
    resize: none;
    background: var(--input_color);
    color: var(--input_text);
    border: 0;
    outline:none;
}

.send_text {
    margin-left: 88.5%;
    margin-bottom: 12px;
    padding: 5px;
    background: var(--button_send);
    color: var(--button_send_color);
    border-radius: 50%;
    display: flex;
    bottom: 0px;
    position: fixed;
}

.scroll_helper {
    width: 100%;
    height: 30px;
}

.stub {
    color: gray;
    width: 100%;
    text-align: center;
    margin-top: 300px;
}

.false {
    width: 100%;
    text-align: center;
    margin-top: 300px;
}

.true {
    width: 100%;
    text-align: center;
    margin-top: 300px;
}

.other_icon {
    color: var(--profile_icon);
}

.help_title_profile {
    text-align: center;
    color: var(--text_profile);
    line-height: 18px;
    padding: 0 10px 0 10px;

}

.approved {
    height: 15px;
    width: 15px;
    background: var(--message_icon_moder);
    border: solid var(--message_icon_moder) 1px;
    z-index: 0;
    margin-top: -35px;
    right: 69%;
    z-index: 5;
    padding: 10px 10px 10px 10px;
    border-radius: 50%;
    box-shadow: 0px 0px 1px 0px var(--message_icon_moder);
    position: absolute;
}

.green {
    color: rgb(27, 218, 27) !important;
}

.oher_message {
    position: relative;
}

.approved_icon {
    color: #ff3347;
}

.pysto {
    color: var(--text_profile);
    font-style: oblique;
}

.modal_profile {
    bottom: 0px;
    background: var(--background_page_my);
    height: 50%;
    width: 100%;
    border-radius: 30px 30px 0 0;
}

.button_profile {
    margin-left: 20px;
    margin-top: 20px;
    display: flex;
}

#animation:active {
    opacity: 0.6;
}

.in_button {
    padding-top: 5px;
    padding-left: 8px;
}

.fantom {
    color: var(--title_profile);
    text-decoration: none;
}

.icon_profile {
    color: var(--profile_icon)
}

.right_button {
    padding-top: 7.5px;
    position: absolute;
    right: 15px;
    color: gray;
}

.switch_case {
    margin-top: -5px;
}

.near_right_button {
    margin-top: 6.5px;
    position: absolute;
    text-align: center;
    border-radius: 5px;
    min-width: 15px;
    color: gray;
    right: 35px;
}

.image_profile {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin: 2% auto;
}

.name_profile {
    text-align: center;
    margin-top: 15px;
    font-size: 20px;
    height: 10px;
    width: 100%;
}

.description_profile {
    text-align: center;
    margin-top: 15px;
    font-size: 17px;
    width: 100%;
    color: rgb(141, 140, 140);
}

.qr {
    text-align: center;
}

.profile {
    height: 50%;
}

.others {
    position: fixed;
    bottom: 0px;
    margin-left: 11.5px;
    padding-bottom: 6px;
    padding-top: 6px;
    width: 100%;
    background: var(--background_page_my);
}


.description_other_profile {
    margin-top: 42px;
}

.floatingbutton {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    z-index: 2;
    background: var(--button_home);
    position: fixed;
    bottom: 68px;
    right: 12px;
    box-shadow: 0 0px 10px var(--button_home_shadow);
}

.floatingbutton_icon {
    margin: auto;
    margin-top: 28%;
    color: #fff;
}

.onboarding_profile {
    width: 150px;
}

.changes_avatars {
    border-radius: 50%;
    margin-right: 15px;
    width: 90px;
    height: 85px;
}
.changes_avatars img {
    border-radius: 50%;
    width: 90px;
    height: 85px;
}

.changes_avatars:active {
    opacity: 0.6;
}

.select_avatar {
    border: 4px solid rgb(6, 152, 250);
}

.scrollImages {
    width: 100%;
    height: 90px;
    overflow: hidden;
    overflow-x: scroll;
    white-space:nowrap;
}

.scrollImages img {
    display: inline-block;
    vertical-align: top;
    width: 80px;
    height: 80px;
}

.Achives_Block {
    margin-top: 50px;
    width: 100%;
}

.Achives_Block img{
    width: 100%;
}