body[scheme="space_gray"] {
    --background_page_my: #19191b;
    --text_message_send: #454648;
    --text_message_to: #2c2d2f;
    --title_profile: #fff;
    --top_moderator_name: #fff;
    --top_moderator_name_donut: #FFB73D;
    --hr: rgb(240, 240, 240);
    --mini_description: rgba(161, 160, 160, 0.867);
    --button_send:  #70aaea;
    --button_send_color: #1c1b1a;
    --profile_icon: #689BD6;
    --text_profile: #9ca2ad;
    --select_reyt: #fff;
    --select_icon: #19191b;
    --input_color: #2c2d2e;
    --input_text: #fff;
    --message_icon_moder: #363738;
    --prom_icon: #f15b49;
    --button_home: #3e5064;
    --button_home_shadow: rgba(77, 75, 75, 0.5);
    --subtext: #76787A;
}