@import './space_gray.css';
@import './bright_light.css';
@import './menutiles.css';
@import './fonts/fonts-connect.css';
@import './animations.css';

body { 
    --verification_color: #5C9CE6;
    --clock_support_green: #4BB34B;
    --description_color: #818C99;
    --gold: #FFD54F;
    --silver: #B0BEC5;
    --bronze: #FFA726;
    --good_answer: #4BB34B;
    --bad_answer: #ff3347;
}
img { object-fit: cover; }
.gold {
    background-color: var(--gold);
}
.silver {
    background-color: var(--silver);
}
.bronze {
    background-color: var(--bronze);
}
.blink2 {
    -webkit-animation: blink2 1s linear infinite;
    animation: blink2 1s linear infinite;
  }
  @-webkit-keyframes blink2 {
    100% { color: rgba(34, 34, 34, 0); }
  }
  @keyframes blink2 {
    100% { color: rgba(34, 34, 34, 0); }
  }

div,p{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;        
}
a{
    color: var(--accent);
    text-decoration: none;
}
.vkuiSplitCol--spaced {
    margin-right: 0px;
}

.no_tabbbar .vkuiFixedLayout--bottom {
    padding-bottom: var(--safe-area-inset-bottom);
}
#other_profile {
    --background_page: var(--background_page_my)
}
#test {
    --background_page: #f6f9ff;
}
#questions  {
    --background_page: var(--background_page_my)
} 

#tiket  {
    --background_page: var(--background_page_my)
}

#new_tiket{
    --background_page: var(--background_page_my)
}

#notif{
    --background_page: var(--background_page_my);
}

#top {
    --background_page: var(--background_page_my);
}

#special {
    --background_page: var(--background_page_my);
}

#profile_help {
    --background_page: var(--background_page_my);
}
.animation:active {
    opacity: 0.6;
}
.AvaModalPage {
    display: block;
    margin: 20px auto;
    border-radius: 50%;
    width: 80px;
    height: 80px;
  
  }
.title_tiket {
    margin-top: 10px;
    width: 100%;
    text-align: center;
    font-size: 13px;
    color: gray
}


.avatar_message_moderator {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 5px;
}
.message {
    word-break: break-word;
    white-space: pre-wrap;
    align-items: flex-end;
}
.message_avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.message_all {
    display: flex;
    justify-content: flex-start;
    margin-left: 5px;
}
.message_me {
    margin-right: 5px;
    display: flex;
    justify-content: flex-end;
}

.message_body {
    border-radius: 15px;
    padding: 0 12px;
    margin: 0 5px;
    margin-top: 12px;
    width: 67%;
    
}
.message_me .message_body {
    background: var(--text_message_to);
}
.message_all .message_body {
    background: var(--text_message_send);
}
.message_name {
    color: #4a86cb;
    font-size: 14px;
    margin-top: 7px;
    margin-bottom: -10px;
}
.message_text {
    margin-top: 16px;
}
.message_marks {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}
.message_time {
    float: right;
    font-size: 11.5px;
    margin-bottom: 5px;
    color: #879bb3;
}
.mark_mark-positive .vkuiMiniInfoCell__content,
.mark_mark-positive .vkuiIcon {
    color: var(--good_answer);
    font-weight: 600;
}
.mark_mark-negative .vkuiMiniInfoCell__content,
.mark_mark-negative .vkuiIcon {
    color: var(--bad_answer);
    font-weight: 600;
}
.mark_comment .vkuiMiniInfoCell__content,
.mark_comment .vkuiIcon {
    color: var(--accent);
    font-weight: 600;
}
.mark_bubble {
    padding: 6px;
    border-radius: 50%;
    box-shadow: 0px 0px 1px 0px var(--message_icon_moder);
    cursor: pointer;
}
.mark-info_text {
    border-radius: 20px;
}
.mark-info {
    background: var(--message_icon_moder);
    border: solid var(--message_icon_moder) 1px;
}
.mark-info:not(:last-child) {
    margin-right: 5px;
}



.hr {
    margin-left: 12px;
    width: 95%;
    height: 0.3px;
    background: var(--hr)
}

.name_profile {
    margin-top: 5px;
}

.profile_description {
    font-weight: 400;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
}

.information_profile {
    margin-top: -15px;
    margin-left: 0px;
    width: 100%;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
    position: relative;
    display: inline-block;
}

.help_profile {
    position: relative;
    text-align: right;
    margin-top: -21px;
    color: var(--text_profile);
}

.title_profile {
    margin-top: 18px;
    font-size: 18px;
    font-weight: 400;
    color: var(--title_profile);
    display: flex;
    position: absolute;
}

.top_moderator_name {
    display: flex;
    color: var(--top_moderator_name);
}

.top_moderator_name_icon {
    color: var(--prom_icon);
    position: relative;
    float: right;
    margin-left: 1px;
    margin-top: 2.72px;
}

.top_moderator_name_icon_ver {
    color: var(--verification_color);
    position: relative;
    float: right;
    margin-top: 1px;
    margin-left: 1px;
    
}

.profile_moderator_name_icon {
    color: var(--prom_icon);
    transition: all 1s;
    position: relative;
    float: right;
    margin-left: 2px;
    margin-top: 5.5px;

}

.profile_moderator_name_icon_ver {
    color: var(--verification_color);
    position: relative;
    float: right;
    margin-left: 2px;
    margin-top: 2px;
}

.profile_icon {
    display: inline-block;
    color: var(--prom_icon);
    position: relative;
    margin-left: 2px;
    margin-top: 5.5px;
}

.profile_icon_ver {
    color: var(--verification_color);
    display: inline-block;
    position: relative;
    margin-left: 2px;
    margin-top: 2px;
}

.minititle {
    font-size: 15px;
    margin-left: 0px;
}

.other {
  bottom: 0px;
  left: 0px;
  display: inline-block;
  position: fixed;
  width: 100%;
  height: 69px;
  z-index: 6;
  background: var(--background_page_my);
}

.message_sending{
    display: flex;
    width: 100%;
    height: 100%;
    z-index: 6;
    background: var(--background_page_my);
    bottom: 0px;
}

.down_input_message {
  bottom: -2px;
  width: 80%;
  height: 100%;
  padding: 10px 0px;
  box-sizing: border-box;
}


.send_text {
    padding: 1px;
    margin-left: 2%;
    margin-top: 5%;
    height: 30px;
    width: 30px;
    background: var(--button_send);
    color: var(--button_send_color);
    border-radius: 50%;
}

.scroll_helper {
    width: 100%;
    height: 30px;
}

.stub {
    color: gray;
    width: 100%;
    text-align: center;
    margin-top: 300px;
}

.false {
    width: 100%;
    text-align: center;
    margin-top: 300px;
}

.true {
    width: 100%;
    text-align: center;
    margin-top: 300px;
}

.other_icon {
    color: var(--dynamic_blue);
}

.help_title_profile {
    text-align: center;
    color: var(--text_profile);
    line-height: 18px;
    padding: 0 10px 0 10px;

}

.green {
    color: #1bda1b !important;
}

.oher_message {
    position: relative;
}

.approved_icon {
    color: #ff3347;
}

.pysto {
    color: var(--text_profile);
    font-style: oblique;
}

.modal_profile {
    bottom: 0px;
    background: var(--background_page_my);
    height: 50%;
    width: 100%;
    border-radius: 30px 30px 0 0;
}

.button_profile {
    margin-left: 20px;
    margin-top: 20px;
    display: flex;
}

#animation:active {
    opacity: 0.6;
}

.in_button {
    padding-top: 5px;
    padding-left: 8px;
}

.fantom {
    color: var(--title_profile);
    text-decoration: none;
}

.icon_profile {
    color: var(--dynamic_blue)
}

.right_button {
    padding-top: 7.5px;
    position: absolute;
    right: 15px;
    color: gray;
}

.switch_case {
    margin-top: -5px;
}

.near_right_button {
    margin-top: 6.5px;
    position: absolute;
    text-align: center;
    border-radius: 5px;
    min-width: 15px;
    color: gray;
    right: 35px;
}

.image_profile {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin: 4% auto;
}

.name_profile {
    text-align: center;
    margin-top: 15px;
    font-size: 20px;
    height: 10px;
    width: 100%;
}

.description_profile {
    text-align: center;
    margin-top: 15px;
    font-size: 17px;
    width: 100%;
    color: rgb(141, 140, 140);
}

.qr {
    text-align: center;
    margin-top: 20px;
}

.profile {
    height: 50%;
}

.others {
    position: fixed;
    bottom: 0px;
    margin-left: 11.5px;
    padding-bottom: 6px;
    padding-top: 6px;
    width: 100%;
    background: var(--background_page_my);
}


.description_other_profile {
    margin-top: 42px;
}

.floatingbutton {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    z-index: 2;
    background: var(--button_home);
    position: fixed;
    bottom: 68px;
    right: 12px;
    box-shadow: 0 0px 10px var(--button_home_shadow);
}

.floatingbutton_icon {
    margin: auto;
    margin-top: 28%;
    color: #fff;
}

.onboarding_profile {
    width: 150px;
}


.select_avatar {
    border: 4px solid rgb(6, 152, 250);
    border-radius: 50%;
}

.scrollImages {
    width: 100%;
    height: 105px;
    overflow: hidden;
    overflow-x: scroll;
    white-space:nowrap;
}

.scrollImages img {
    display: inline-block;
    vertical-align: top;
    width: 80px;
    height: 80px;
}

.questionsIcons{
    margin-left: 3px;
}
.icon_donut_questions {
    margin: 20% 0px 0px 60%;
}
.header_fix {
    position: fixed;
    left: 0;
    top: 0;
}
.thumb_default {
    color: 'var(--content_placeholder_icon)';
}
.thumb_active {
    color: #FFB73D;
}

.moderation_cards-texts .vkuiMiniInfoCell__content {
    white-space: pre-wrap;
}
.placeholders_short-bottom .vkuiPlaceholder__in {
    padding-bottom: 10px;
}

.vkuiRichTooltip__arrow {
    color: var(--vkui--color_background_content);
}