.gallery_card_root {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding: 18px 50px;
    padding-bottom: 30px;
    box-sizing: border-box;
}
.gallery_card_item_root {
    width: 28px;
    padding: 2px;
}
.selected_item {
    background-color: var(--vkui--color_transparent--active);
}