.color {
    width: 28px;
    height: 28px;
    border-radius: 6px;
    
}
.color__tap_zone {
    padding: 2px;
    width: 28px;
    height: 28px;
    border-radius: 6px;
    border-radius: 6px;
}

.selected {
    background-color: var(--vkui--color_transparent--active);
}