@import './vkcom.css';
@import './menutiles.css';
@import './fonts/fonts-connect.css';
@import './animations.css';

h2 { 
    margin: 0
}

body { 
    --verification_color: #5C9CE6;
    --clock_support_green: #8ABF77;
    --warn: #EFBC4E;
    --description_color: #818C99;
    --prom_icon: #f15b49;
    --gold: #FFD54F;
    --silver: #B0BEC5;
    --bronze: #FFA726;
    --good_answer: #4BB34B;
    --bad_answer: #ff3347;
    
}
img { object-fit: cover; }
.gold {
    background-color: var(--gold);
}
.silver {
    background-color: var(--silver);
}
.bronze {
    background-color: var(--bronze);
}
.blink2 {
    -webkit-animation: blink2 1s linear infinite;
    animation: blink2 1s linear infinite;
  }
  @-webkit-keyframes blink2 {
    100% { color: rgba(34, 34, 34, 0); }
  }
  @keyframes blink2 {
    100% { color: rgba(34, 34, 34, 0); }
  }

div,p{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;
}
a{
    color: var(--accent);
    text-decoration: none;
}
.vkuiSplitLayout {
    height: calc(100% - 90px);
}
.vkuiSplitCol--spaced {
    padding-right: 0px;
    /* padding-left: 0px; */
}
.navigation_tab .vkuiTabsItem--vkcom {
    padding: 0;
}
.navigation_tab .vkuiTabsItem__in {
    padding: 0;
}

.no_tabbbar .vkuiFixedLayout--bottom {
    padding-bottom: var(--safe-area-inset-bottom);
}
.vkuiTabbarItem {
    margin-left: 20px;
}
.vkuiTabbarItem__icon {
    margin-right: 5px;
}

.qr {
    text-align: center;
    margin-top: 20px;
}

.profile_avatar {
    border-radius: 4px;
    width: 200px;
    height: 200px;
}
.gray,
.gray .vkuiSimpleCell {
    color: var(--gray_dark);
}

.gray .vkuiIcon {
    color: var(--gray);
}
.sep-wide .vkuiSeparator__in {
    margin: 0 -7px;
}
