body[scheme="vkcom_light"] {
    --background_page_my: #fff;
    --button_send:  #398ce2;
    --button_send_color: #fff;
    --text_message_send: #ecedf1;
    --text_message_to: #cce4ff;
    --title_profile: #000;
    --top_moderator_name: #4a86cb;
    --top_moderator_name_donut: #FFB73D;
    --hr: rgb(202, 201, 201);
    --mini_description: rgba(0, 0, 0, 0.867);
    --profile_icon: #73aaef;
    --text_profile: #9ca2ad;
    --select_reyt: #4680C2 ;
    --select_icon: #fff;
    --input_color: #EDEEF0;
    --input_text: #000;
    --message_icon_moder: rgb(255, 255, 255);
    --prom_icon: #f15b49;
    --button_home: #3895ff;
    --button_home_shadow: rgba(0,0,0,0.5);
    --subtext: #6f7985;
}
body[scheme="vkcom_dark"] {
    --background_page_my: #19191b;
    --text_message_send: #454648;
    --text_message_to: #2c2d2f;
    --title_profile: #fff;
    --top_moderator_name: #fff;
    --top_moderator_name_donut: #FFB73D;
    --hr: rgb(240, 240, 240);
    --mini_description: rgba(161, 160, 160, 0.867);
    --button_send:  #70aaea;
    --button_send_color: #1c1b1a;
    --profile_icon: #689BD6;
    --text_profile: #9ca2ad;
    --select_reyt: #fff;
    --select_icon: #19191b;
    --input_color: #2c2d2e;
    --input_text: #fff;
    --message_icon_moder: #363738;
    --prom_icon: #f15b49;
    --button_home: #3e5064;
    --button_home_shadow: rgba(77, 75, 75, 0.5);
    --subtext: #76787A;
}